{% extends "skeleton.html" %}
{% block content %}
<h2>Editing expense: {{ expense.name }}</h2>
    {% if form.errors %}
     <h3>Form errors:</h3>
     <ol>
         {% for error in form.errors %}
           <li><strong>{{ error|escape }}</strong></li>
         {% endfor %}
     </ol>
    {% endif %}

<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ expense.id }}">
    <table>
    {{form}}
    </table>
    <input type="submit" method="POST" class="btn" value="Save changes">
</form>
{% endblock %}