{% extends "skeleton.html" %}
{% block content %}
<h2>Ledger: {{ ledger.name }}</h2>

<h3>People:</h3>
<table class="table table-bordered table-striped" style="width: 50%;">
<tr><th>Name</th><th style="width: 5em; text-align: center">Edit</th><th style="width: 5em; text-align: center">Remove</th></tr>
{% for person in people %}
<tr><td>{{ person.name }}</td>  
<td style="width: 5em; text-align: center"><a href="/person/{{ person.id }}/edit/" class="btn btn-info btn-mini"><i class="icon-edit"></i></a></td>
<td style="width: 5em; text-align: center"><a href="/person/{{ person.id }}/remove/" class="btn btn-danger btn-mini"><i class="icon-remove"></i></a></td></tr>
{% endfor %}
</table>
<a href="/ledger/{{ ledger.id }}/addperson/" class="btn btn-primary">Add person</a>

<h3>Expenses:</h3>
<table class="table table-bordered table-striped" style="width: 50%;">
<tr><th>Name</th><th style="width: 5em; text-align: center">Amount</th><th style="width: 5em; text-align: center">Edit</th><th style="width: 5em; text-align: center">Remove</th></tr>
{% for expense in expenses %}
<tr><td>{{ expense.name }}</td>
<td>{{ expense.amount }}</td>
<td style="width: 5em; text-align: center"><a href="/expense/{{ expense.id }}/edit/" class="btn btn-info btn-mini"><i class="icon-edit"></i></a></td>
<td style="width: 5em; text-align: center"><a href="/expense/{{ expense.id }}/remove/" class="btn btn-danger btn-mini"><i class="icon-remove"></i></a></td></tr>
{% endfor %}
</table>
<a href="/ledger/{{ ledger.id }}/addexpense/" class="btn btn-primary">Add expense</a>

{% endblock %}