{% extends "skeleton.html" %}
{% block content %}
<h2>Ledger: {{ ledger.name }}</h2>

<h3>People:</h3>
{% if people %}
<table class="table table-bordered table-striped" style="width: 50%;">
<tr><th>Name</th><th style="width: 5em; text-align: center">Edit</th><th style="width: 5em; text-align: center">Remove</th></tr>
{% for person in people %}
<tr><td>{{ person.name }}</td>  
<td style="width: 5em; text-align: center"><a href="/person/{{ person.id }}/edit/" class="btn btn-info btn-mini"><i class="icon-edit"></i></a></td>
<td style="width: 5em; text-align: center"><a href="/person/{{ person.id }}/remove/" class="btn btn-danger btn-mini"><i class="icon-remove"></i></a></td></tr>
{% endfor %}
</table>
{% else %}
<p class="text-warning">No people found!</p>
{% endif %}
<a href="/ledger/{{ ledger.id }}/addperson/" class="btn btn-primary">Add person</a>

<h3>Expenses:</h3>
{% if expenses %}
<table class="table table-bordered table-striped">
<tr>
    <th>Name</th>
    <th style="width: 5em; text-align: center">Amount</th>
    <th>Payments</th>
    <th>In</th>
    <th>Not in</th>
    <th style="width: 5em; text-align: center">Edit</th>
    <th style="width: 5em; text-align: center">Remove</th>
</tr>
{% for expense in expenses %}
<tr><td>{{ expense.name }}</td>
<td>{{ expense.amount }} {{ expense.currency.iso4217_code }}</td>
<td>
{% for payment in payments %}
{% if payment.expense_id = expense.id %}
{{ payment.person.name }} - {{ payment.amount }} {{ payment.currency.iso4217_code }}<br>
{% endif %}
{% endfor %}
<a href="/expense/{{expense.id}}/addpayment" class="btn btn-mini btn-success"><i class="icon-plus"></i> Add new payment</a><br>
</td>
<td>
{% for person in expense.people.all %}
<p>{{ person.name }} <a href="/expense/{{ expense.id }}/removeperson/{{ person.id }}/" class="btn btn-mini btn-danger pull-right"><i class="icon-remove"></i></a></p>
{% endfor %}
</td>
<td>
{% for person in people %}
    {% if person not in expense.people.all %}
        <p>{{ person.name }} <a href="/expense/{{ expense.id }}/addperson/{{ person.id }}/" class="btn btn-mini btn-success pull-right"><i class="icon-plus"></i></a></p>
    {% endif %}
{% endfor %}
</td>
<td style="width: 5em; text-align: center"><a href="/expense/{{ expense.id }}/edit/" class="btn btn-info btn-mini"><i class="icon-edit"></i></a></td>
<td style="width: 5em; text-align: center"><a href="/expense/{{ expense.id }}/remove/" class="btn btn-danger btn-mini"><i class="icon-remove"></i></a></td></tr>
{% endfor %}
</table>
{% else %}
<p class="text-warning">No expenses found!</p>
{% endif %}
<a href="/ledger/{{ ledger.id }}/addexpense/" class="btn btn-primary">Add expense</a>

<pre class="pre-scrollable">
{{ internaldata }}
</pre>
{% endblock %}