{% extends "skeleton.html" %}
{% block content %}
<h2>Add expense to ledger</h2>

{% if form.errors %}
	<div class="alert alert-error">
		<h4>Form errors</h4>
		<ol>
			{% for error in form.errors %}
				<li><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
	</div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="span4">
            <table>
                <tr><td>{{form.name.label_tag}}</td><td><div class="control-group">{{form.name}}</td></tr>
                <tr><td>{{form.amount.label_tag}}</td><td><div class="control-group" id="controlgroup-amount">{{form.amount}}</td></tr>
                <tr><td>{{form.currency.label_tag}}</td><td><div class="control-group">{{form.currency}}</td></tr>
            </table>
        </div>
        <div class="span6">
            <div class="alert" id="messages">
                <p>Add an expense!</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <h4>People</h4>
        
        <div class="span2">
            <div class="alert alert-info">
                {% for person in people %}
                    <p style="text-align: center;" id="buttonp-{{ person.id }}">
                        <button class="btn btn-primary btn-small" type="button" onclick="javascript:showrow({{person.id}});">{{ person.name }}</button>
                    </p>
                {% endfor %}
            </div>
        </div>
        
        <div class="span8">    
            <table class="table table-condensed">
                <tr><th>Remove</th><th>Person</th><th>Amount owed</th></tr>
                {% for person in people %}
                <tr style="display: none;" id="row{{person.id}}">
                    <td style="text-align: center;">
                        <div class="control-group">
                            <div class="controls form-inline">
                                <button class="btn btn-danger btn-mini" type="button" onclick="javascript:hiderow({{person.id}});"><i class="icon-remove"></i></button>
                            </div>
                        </div>
                    </td>
                    
                    <td>
                        <span class="label label-info">{{person.name}}</span>
                        <input id="expensepart-{{person.id}}" name="person-expensepart-{{person.id}}" type="checkbox" style="display:none;"/>
                    </td>

                    <td>
                        <div id="controlgroup-customamount-{{person.id}}" class="control-group">
                            <div class="controls">
                                <div class="input-append">
                                    <input id="customamount-{{person.id}}" name="person-customamount-{{person.id}}" type="number" disabled required>
                                    <input id="autoamount-{{person.id}}" name="person-autoamount-{{person.id}}" onchange="javascript:handlechange('autoamount-{{person.id}}');" type="checkbox" class="customamountcheck" checked>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <input type="submit" method="POST" class="btn" value="Add expense" disabled>
</form>

<script>
    function showrow(userid) {
        document.getElementById('row'+userid).style.display='table-row';
        document.getElementById('expensepart-'+userid).checked = 'checked';
        document.getElementById('buttonp-'+userid).style.display='none';
        updatecalc();
    };

    function hiderow(userid) {
        document.getElementById('row'+userid).style.display='none';
        document.getElementById('expensepart-'+userid).checked = '';
        document.getElementById('buttonp-'+userid).style.display='block';
        updatecalc();
    };
    
    function handlechange(id) {
        if(document.getElementById(id).checked == false) {
            //autoamount unchecked for this person, enable the textbox for editing
            userid = id.substring(11);
            textboxid = "customamount-"+userid;
            document.getElementById(textboxid).disabled="";
        } else {
            //autoamount checked for this person, disable the textbox
            userid = id.substring(11);
            textboxid = "customamount-"+userid;
            document.getElementById(textboxid).disabled="disabled";
        };
        updatecalc();
    };
    
    function setMessage(message,type) {
        $( '#messages' ).removeClass().addClass( "alert " + type );
        $( '#messages' ).html("<p>" + message + "</p>");
    };
    
    function updatecalc() {
        setMessage("Working...","alert-info")
        
        // check if we have a valid total expense amount in the form
        if(!$.isNumeric(document.getElementById('amount').value)) {
            $( '#controlgroup-amount' ).removeClass().addClass( "control-group error" );
            setMessage("Invalid amount specified","alert-error");
            return;
        };
        
        // check each of the customamount fields
        var success = true;
        $( "input[name^='person-customamount-']" ).each(function( index ) {
            // find userid from element name
            userid = $(this).attr( "name" ).substring(20);
            // is this user a part of this expense ?
            if (document.getElementById('expensepart-'+userid).checked == true) {
                // remove any extra classes on this control group
                $( '#controlgroup-customamount-'+userid ).removeClass().addClass( "control-group" );
                // is autoamount unchecked ?
                if (document.getElementById('autoamount-'+userid).checked == false) {
                    // check if the value is numeric
                    if (!$(this).val().isNumeric) {
                        setMessage("Invalid amount specified","alert-error");
                        $( '#controlgroup-customamount-'+userid ).removeClass().addClass( "control-group error" );
                        success = false;
                        return;
                    };
                };
            };
        });
        if(!success) {
            return;
        };
        
        // find the userids of customamount and autoamount people in this calculation
        var autoids = new Array();
        var customids = new Array();
        $( "input[name^='person-customamount-']" ).each(function( index ) {
            // find userid from element name
            userid = this.name.substring(20);
            if (document.getElementById('expensepart-'+userid).checked == true) {
                if (document.getElementById('autoamount-'+userid).checked == true) {
                    autoids.push(userid);
                } else {
                    customids.push(userid);
                };
            };
        });
        
        if(customids.length + autoids.length == 0) {
            setMessage("No people selected","alert-error");
            return;
        };
        
        // arrays autoids and customids now contain the userid's for the calculation,
        // first do some sanity checking to check that the customamounts are less than the total expense amount
        customtotal = 0;
        if (customids.length > 0) {
            for (var i=0;i<customids.length;i++) {
                customtotal = customtotal + customids[i];
            };
        };
        
        // if the total customamount exceeds the amount...
        if (customtotal > document.getElementById('amount').value) {
            // mark the expense amount and the customamount fields with red to indicate where the problem is
            document.getElementById('controlgroup-amount').className="control-group error";
            $( "input[name^='person-customamount-']" ).each(function( index ) {
                // only mark fields with non-zero value in red
                if(this.value != None && this.value != 0) {
                    // find userid from element name
                    userid = this.name.substring(20);
                    // mark this field red (class goes on the controlgroup not the field)
                    document.getElementById('controlgroup-customamount-'+userid).className="control-group error";
                };
            });
            setMessage("Custom amounts total exceeds expense amount","alert-error");
            return;
        };
        
        // now find the amount that remains after custom amounts have been substracted,
        // divide by the number of autoamount people, and add it to their amount textboxes
        divamount = document.getElementById('amount').value/autoids.length;
        $( "input[name^='person-customamount-']" ).each(function( index ) {
            // find userid from element name
            userid = $(this).attr( "name" ).substring(20);
            if (document.getElementById('expensepart-'+userid).checked == true) {
                if (document.getElementById('autoamount-'+userid).checked == true) {
                    document.getElementById('customamount-'+userid).value = divamount;
                };
            };
        });
        
        setMessage("Calculation OK!","alert-success");
    };
    
    $().ready(function(){
        // enable prettyCheckable checkboxes
        $('input.customamountcheck').prettyCheckable();
        
        // update calculation on input 
        $("input[name^='person-customamount-']").on('input change',function() {
            updatecalc();
        });
        
        $("amount").on('input change',function() {
            updatecalc();
        });
        
        // initial calculation
        updatecalc();
    });
</script>
{% endblock %}