{% extends "skeleton.html" %}
{% block content %}
<h2>Add expense to ledger</h2>

{% if form.errors %}
	<div class="alert alert-error">
		<h4>Form errors</h4>
		<ol>
			{% for error in form.errors %}
				<li><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
	</div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <table>
        <tr><td>{{form.name.label_tag}}</td><td>{{form.name}}</td></tr>
        <tr><td>{{form.amount.label_tag}}</td><td>{{form.amount}}</td></tr>
        <tr><td>{{form.currency.label_tag}}</td><td>{{form.currency}}</td></tr>
    </table>
    <table>
        <tr><th>Pay</th><th>Person</th><th>Amount</th><th>Edit</th></tr>
        {% for field in customexpenseform %}
            {{ field|safe }}
        {% endfor %}
    </table>
    <input type="submit" method="POST" class="btn" value="Add expense">
</form>
{% endblock %}