{% extends "skeleton-nomenu.html" %}
{% block content %}
<div class="hero-unit">
    <h1>Welcome to Buddyledger</h1>
    <p>Buddyledger is a system to keep track of the (sometimes very complicated) debt relationships between groups of friends. The basic idea is that everyone enters their expenses and selects the people who should help pay for each expense. The final breakdown will show who owes what to whom.</p>
    <p>Buddyledger is often used on an event-by-event basis, where you create a ledger for a specific event (like a vacation). All expenses for that event are entered on the ledger, and after the event is over the ledger is closed and debts are settled.</p>
    <p>Buddyledger can also be used as a more of a "permanent ledger" system to keep track of long-running group expenses, where the ledger is never closed, and expenses are added as time goes. This way you can simply check Buddyledger before going out for dinner, and use the current debt balance between two (or more) people to decide whose turn it is to pay this time around.</p>
    <p><a href="/ledger/create/" class="btn btn-primary btn-large">Create Ledger</a> or <a href="/usage/" class="btn btn-primary btn-large">Read more</a></p>
</div>
{% endblock %}