{% extends "skeleton.html" %}
{% load custom_filters %}

{% block content %}

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">Main</a></li>
        <li><a href="#people" data-toggle="tab">People</a></li>
        <li><a href="#expenses" data-toggle="tab">Expenses</a></li>
        {% if matrixdict %}
            <li><a href="#resultmatrix" data-toggle="tab">Result (matrix)</a></li>
        {% endif %}
        
        {% if tabledict %}
            <li><a href="#resultlist" data-toggle="tab">Result (list)</a></li>
        {% endif %}
        <li><a href="#debug" data-toggle="tab">Debug info</a></li>
    </ul>

    <div class="tab-content">
        <div id="main" class="tab-pane active">
            <h4>{{ ledger.name }}</h4>
            <span class="label label-success">Native currency: {{ ledger.currency }}</span>
            <p>This is <b>BuddyLedger</b>, a system to keep track of expenses between groups of people. 
            Given a list of people and expenses this system will calculate the final breakdown so you can see who owes what to whom.</p>
            
            <h4>Statistics</h4>
            <p>This ledger has <b>{{ people|length }}</b> people associated, and <b>{{ expenses|length }}</b> expenses with a total of <b>{{ payments|length }}</b> payments.</p>
            
            <!--
            <h2>Advanced Settings</h2>
            <p>You can change the algorithm used to calculate the final result. The default should be fine for most uses.</p>
            <a href="/ledger/{{ ledger.id }}/changemethod/" class="btn btn-inverse"><i class="icon-wrench"></i> Change method</a>
            -->

            
            <h4>Close Ledger</h4>
            <p>When all expenses and payments has been added to the ledger it should be closed before any backpayments can be registered.</p>
            <a href="/ledger/{{ ledger.id }}/close/" class="btn btn-danger"><i class="icon-check"></i> Close Ledger</a>
        </div>
        
        <div id="people" class="tab-pane">
            {% comment %}<!-- List of people -->{% endcomment %}
            <h3>People:</h3>
            {% if people %}
                <a href="/ledger/{{ ledger.id }}/addperson/" class="btn btn-primary"><i class="icon-plus"></i> Add person</a>
                <table class="table table-bordered table-striped" style="width: 50%;">
                    <tr><th>Name</th><th style="width: 5em; text-align: center">Edit</th><th style="width: 5em; text-align: center">Remove</th></tr>
                    {% for person in people %}
                    <tr><td>{{ person.name }}</td>  
                        <td style="width: 5em; text-align: center"><a href="/person/{{ person.id }}/edit/" class="btn btn-info btn-mini"><i class="icon-edit"></i></a></td>
                        <td style="width: 5em; text-align: center"><a href="/person/{{ person.id }}/remove/" class="btn btn-danger btn-mini"><i class="icon-remove"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="text-warning">No people found connected to this ledger. First you need to add all the people 
                involved in this ledger by pressing the button below! This includes both the people who put up money for the expenses, 
                and the people who owes money to them.</p>
                <a href="/ledger/{{ ledger.id }}/addperson/" class="btn btn-primary"><i class="icon-plus"></i> Add person</a>
            {% endif %}        
        </div>

        <div id="expenses" class="tab-pane">
            {% if expenses %}
                <a href="/ledger/{{ ledger.id }}/addexpense/" class="btn btn-primary">Add expense</a>
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th style="width: 3em; text-align: center">Amount</th>
                        <th style="width: 3em; text-align: center">Amount {{ ledger.currency.iso4217_code }}</th>
                        <th>Payments</th>
                        <th>In</th>
                        <th>Not in</th>
                        <th style="width: 4em; text-align: center">Action</th>
                    </tr>
                {% for expense in expenses %}
                    <tr>
                        <td>
                            {{ expense.name }}
                        </td>
                        <td>
                            {{ expense.amount }} {{ expense.currency.iso4217_code }}
                        </td>
                        <td>
                            {{ expense.amount_native }} {{ ledger.currency.iso4217_code }}
                        </td>
                        <td>
                            {% for expensepart in expenseparts %}
                                {% if expensepart.expense_id == expense.id %}
                                    {% userdict|keyvalue:expensepart.person_id %}: {{ expensepart.haspaid }} {{ expense.currency.iso4217_code }}<br>
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td>
                            {% for person in expense.people.all %}
                                <p>{{ person.name }} <a href="/expense/{{ expense.id }}/removeperson/{{ person.id }}/" class="btn btn-mini btn-danger pull-right"><i class="icon-remove"></i></a></p>
                            {% endfor %}
                        </td>
                        <td>
                            {% for person in people %}
                                {% if person not in expense.people.all %}
                                    <p>{{ person.name }} <a href="/expense/{{ expense.id }}/addperson/{{ person.id }}/" class="btn btn-mini btn-success pull-right"><i class="icon-plus"></i></a></p>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td style="width: 3em; text-align: center">
                        <a href="/expense/{{ expense.id }}/edit/" class="btn btn-info btn-mini"><i class="icon-edit"></i></a>
                        <a href="/expense/{{ expense.id }}/remove/" class="btn btn-danger btn-mini"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
                <a href="/ledger/{{ ledger.id }}/addexpense/" class="btn btn-primary">Add expense</a>
            {% else %}
                <p class="text-warning">No expenses found. After adding people above, you need to add the expenses for this ledger by pressing the button below. 
                You should also choose the people who should be charged for the expense when creating it. 
                After adding an expense you need to add one or more payments for the expense, depending on how many people actually paid for the expense.</p>
                {% if people %}
                    <a href="/ledger/{{ ledger.id }}/addexpense/" class="btn btn-primary">Add expense</a>
                {% else %}
                    <button class="btn btn-primary btn-disabled" disabled>Add expense</button>
                {% endif %}
            {% endif %}
        </div>

        <div id="resultmatrix" class="tab-pane">
            <table class="table table-bordered">
                {% for rowkey,tablerow in matrixdict.items %}
                    <tr>
                        {% if rowkey == 0 %}
                            {% for cellkey,tablecell in tablerow.items %}
                                {% if tablecell == "n/a" %}
                                    <th style="color: black; background-color: black">&nbsp;</th>
                                {% else %}
                                    <th>{{ tablecell }}</th>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for cellkey,tablecell in tablerow.items %}
                                {% if tablecell == "n/a" %}
                                    <td style="color: black; background-color: black">&nbsp;</td>
                                {% else %}
                                    {% if tablecell == 0 %}
                                        <td style="background-color: darkgrey;">
                                    {% else %}
                                        <td>
                                    {% endif %}

                                    {% if cellkey == 0 or rowkey == 'total' or cellkey == 'total' %}
                                        <b>{{ tablecell }}</b></td>
                                    {% else %}
                                        {{ tablecell }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>


        <div id="resultlist" class="tab-pane">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Receive</th>
                        <th>Pay</th>
                    </tr>
                </thead>
                <tbody>
                    {% for uid,tablerow in resultdict.items %}
                        {% if uid != "total"%}
                            <tr>
                                <td>{{ userdict|keyvalue:uid }}</td>
                                <td>
                                    <ul>
                                        {% comment %}<!-- Loop through the people that owe this user money -->{% endcomment %}
                                        {% for tempuid,value in tablerow.items %}
                                            {% if tempuid != uid and tempuid != "total"%}
                                                {% if value > 0 %}
                                                    <li>Collect {{ value }} {{ ledger.currency.iso4217_code }} from {{ userdict|keyvalue:tempuid }}</li>                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        {% comment %}<!-- Loop through the people that this user owes money to -->{% endcomment %}
                                        {% for tempuid,temprow in resultdict.items %}
                                            {% if tempuid != uid and tempuid != "total" %}
                                                {% for uid2,value in temprow.items %}
                                                    {% if uid2 == uid and uid2 != "total" %}
                                                        {% if value > 0 %}
                                                            <li>Pay {{ value }} {{ ledger.currency.iso4217_code }} to {{ userdict|keyvalue:tempuid }}</li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="debug" class="tab-pane">
            <h4>Debug calculation input</h4>
            <p><pre>{{ debugdata }}</pre></p>

            <h4>Debug userdict</h4>
            <p><pre>{{ userdict }}</pre></p>

            <h4>Debug matrix result</h4>
            <p><pre>{{ matrixdict }}</pre></p>

        </div>
    </div><!-- /.tab-content -->
</div><!-- /.tabbable -->

<!-- make tabs bookmarkable and linkable -->
<script language="javascript">
    $(document).ready(function () {
        if (location.hash.substr(0,1) == "#") {
            $("a[href='#" + location.hash.substr(2) + "']").tab("show");
        }
        $("a[data-toggle='tab']").on("shown", function (e) {
            var hash = $(e.target).attr("href");
            if (hash.substr(0,1) == "#") {
                location.replace("#" + hash.substr(1));
            }
        });
    });
</script>
{% endblock %}
