<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block fulltitle %}BuddyLedger{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="/static/js/buddyledger.js"></script>
    </head>

    <body style="margin-top: 4em;">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="/">BuddyLedger</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span14">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
